
.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 20px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.logo-block-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.logo-round {
  width: 50px;
  height: 50px;
  background-color: var(--orange-color);
  border-radius: 50%;
}

.logo-title {
  color: var(--orange-color);
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 900;
  margin: 0;
}
