.hotels-form {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 24px;
    border: 2px solid var(--orange-color);
    border-radius: 4px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.form-main-field {
    max-width: 240px;
    width: 100%;
}

.form-field {
    max-width: 120px;
    width: 100%;
}

.home-text {
    padding: 0 40px;
}


@media(max-width: 767px) {
    .hotels-form {
        flex-direction: column;
    }

    .form-main-field,
    .form-field {
        max-width: 100%;
    }
}