
.hotels-title {
    font-size: clamp(24px, 3vw, 36px);
    margin-bottom: 8px;
}

.sity-name {
    text-transform: capitalize;
    color: var(--orange-color);
}

.hotels-informations {
    margin-bottom: 40px;
    font-weight: bold;
}

.hotels-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.hotels-item {
    width: calc((100% - 2 * 20px) / 3);
    font-size: clamp(12px, 1.5vw, 16px);
    color: var(--gray-color);
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    padding: 16px;
    gap: 16px;
}

.hotels-item-title {
    font-size: clamp(18px, 2vw, 22px);
    margin: 0 0 16px 0;
    color: var(--dark-color);
}

.hotels-item-img {
    height: 240px;
    flex-shrink: 0;
}

.hotels-item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hotels-item,
.hotels-item-details {
    display: flex;
    flex-direction: column;
}

.hotels-item-details {
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}


@media(max-width: 1023px) {
    .hotels-item {
        width: calc((100% - 2 * 20px) / 2);
        max-width: 360px;
        margin: 0 auto;
    }
}

@media(max-width: 640px) {
    .hotels-item {
        width: 100%;
    }
}